{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb"],
  "rules": {
    "no-console": [2, {"allow": ["log", "warn", "error"]}],
    "no-var": 0,
    "prefer-arrow-callback": 0
  },
}