<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Log In | Twitter Clone</title>
  </head>
  <body>
    <header>
      <ul>
        <a href='/'>Home</a>
        <a href='/signup'>Sign Up</a>
        <a href='/login'>Log in</a>
      </ul>
    </header>
    <main>
      <form id="user-form" action="/login" method="POST">
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email">
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password">
        <button id="signup-form-button">Log In</button>
      </form>
    </main>
  </body>
</html>