<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Sign Up | Twitter Clone</title>
  </head>
  <body>
    <header>

    </header>
    <main>
      <form id="user-form" action="/signup" method="POST">
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email">
        <input
          id="handle"
          type="handle"
          name="handle"
          placeholder="Handle Name">
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password">
        <button id="signup-form-button">Sign Up</button>
      </form>
    </main>
  </body>
</html>