header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  height: 50px;
}

.header-list {

}

.list-item {
  padding: 10px;
  text-decoration: none;
  border: 1px solid #aaa;
  border-radius: 10px;
}

/* Auth Form */
.auth-form {
  max-width: 400px;
  margin: 80px auto 20px;
}

.auth-form-input {
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 95%;
  height: 40px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-button {
  background-color: #1b95e0;
  color: #fff;
  width: 95%;
  height: 40px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.edit-button {
  padding: 5px 10px;
  background-color: #f75859;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

/*  MAIN */

.main-box {
  width: 600px;
  margin: 60px auto 0px auto;
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
}

body {
  background-color: #f5f8fa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#tweet-form {
  padding: 10px 12px 10px 12px;
  background-color: #e8f4fb;
}

#tweet-form-handle {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #a3d4f2;
  border-radius: 3px;
  width: 100%;
}

#tweet-form-body {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #a3d4f2;
  border-radius: 3px;
  width: 100%;
}

#tweet-form-button {
  color: #ffffff;
  font-size: 14px;
  padding: 7px 8px;
  background-color: #1b95e0;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.tweet {
  padding: 10px 12px;
  border-top: 1px solid #e1e8ed;
}

.light-grey {
  color: #8899a6;
}

#tweet-form-delete-button {
  color: #ffffff;
  font-size: 14px;
  padding: 7px 8px;
  background-color: #e53334;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

